{% load static%}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>create_event</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
</head>
<body>
    <div class="container"> 
        <h1>create_event</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}  <!-- عرض النموذج كفقاعات -->
            <button type="submit">Create event</button>
        </form>
    </div>
</body>
</html>
