{% load static %}
<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <title>create payment</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <style>
      #id_ticket {
        width: 200px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Confirm Your Payment</h1>
      <p>Payment Amount: {{ payment.amount }} USD</p>
      <p>Payment Method: {{ payment.payment_method }}</p>

      <form method="POST">
        {% csrf_token %}
        <button type="submit">Confirm Payment</button>
      </form>
    </div>
  </body>
</html>
