{% load static %}
<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <title>SignUp</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
   
  </head>
  <body>
    <div class="container">
      <h1>signup</h1>
      <br>
      {% if error %}
      <p style="color: red">{{ error }}</p>
      {% endif %}
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <!-- عرض النموذج كفقاعات -->
        <button type="submit">إنشاء مستخدم</button>
      </form>
    
    </div>
  </body>
</html>
